<section class="bg-primary" id="about">
    <!-- <div class="container">
        <div class="row">
       <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet Your Rx Partner</h2>
                <hr class="light">
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="about-container">
                <img src="img/lisa-headshot.jpg" alt="" class="profile-img">
                <div class="about-text"></div>
                <h2 class="section-heading"> </h2>
                <hr class="light">
                <p class="text-faded">With over 25 years of clinical pharmacy expertise, Lisa excels in Medication Therapy Management and retail pharmacy. She’s skilled at navigating insurance, dedicated to patient advocacy, and provides exceptional customer service - combining clinical skill with real-world insight to improve medication outcomes and support.</p>
               
            </div>
                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/lisa-headshot2.jpg" alt="" class="profile-img">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
       <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Meet Your Rx Partner</h2>
                <hr class="light">
            </div> 
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">I started this service after seeing firsthand how overwhelming medications 
and healthcare can become. With over 25 years as a licensed clinical
pharmacist, I help simplify medications and healthcare when it starts to
feel overwhelming. I review medications for safety, explain conditions and
how treatments work, and make sure you feel confident in your care.<br><br>
My goal is simple: bring clarity, improve safety, and give you peace of
mind, so you feel supported every step of the way.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started!</a>
        </div>
    </div>

</section>
