<section class="bg-primary" id="about">
    <div class="container">
                <div class="row">

                <h2 class="section-heading" text-center>Meet Your Rx Partner</h2>
                <hr class="light">
               
               
            </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="about-container">
                <img src="img/smiling-female-pharmacist.jpg" alt="" class="profile-img">
                <div class="about-text"></div>
                <h2 class="section-heading"> </h2>
                <hr class="light">
                <p class="text-faded">With over 25 years of experience as a clinical pharmacist, Lisa brings deep expertise in Medication Therapy Management (MTM) and a comprehensive understanding of retail pharmacy operations. She is highly skilled in navigating complex insurance practices and is known for her unwavering commitment to patient and family advocacy. Lisa’s background combines clinical excellence with practical, real-world insight, making her a trusted partner in improving medication outcomes and healthcare experiences.

                </p>
               
            </div>
                 <a href="#" class="btn btn-default btn-xl">Get Started!</a>
        </div>
    </div>
</section>
