<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How I Help</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-medkit wow bounceIn text-primary"></i>
                    <h3>Medication</h3>
                    <p class="text-muted">Medication planning, reconciliation & reviews with adherence support through education, check-ins, and reminders.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-car wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Delivery & Transportation</h3>
                    <p class="text-muted">Pickup and delivery of prescription refills & assist with transportation to doctor visits.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Costing</h3>
                    <p class="text-muted">Insurance-based cost savings review and enrollment in Manufacturer Assistance Programs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-stethoscope  wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Doctor & Family Liaison</h3>
                    <p class="text-muted">Act as a health proxy with your medical team and liaison with family members on current status of health and medications.</p>
                </div>
            </div>
        </div>
            <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading"> </h3>
                    <div class="service-box">
                    <i class="fa fa-4x fa-info-circle  wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Independence</h3>
                    <p class="text-muted">In addition to medication reviews, we offer practical help with organizing your home, setting up electronic bill pay, and preparing healthy meals — giving you or your loved one the tools to live independently</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
