<section class="bg-primary" id="volunteer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Community Services</h2>
                <hr class="light">
            </div>
        </div>
    </div>
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="text-faded">SoCo Rx Consultants offers free 30-minute one-on-one medication reviews for seniors through local Councils on Aging. During your visit, we will review all prescription medications, over-the-counter products, vitamins, supplements, creams, inhalers, and eye drops to check for safe dosages, possible drug interactions, and help you better understand your medications. We can also discuss the best times to take medications, whether to take them with food, and answer your medication-related questions in easy-to-understand language. Bringing the actual medication bottles and products is much more helpful than bringing only a medication list. Pre-registration with each Council on Aging below is required — please contact them directly to sign up.</p>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-lg-offset-3 col-md-6 text-center">
            <div class="service-box">
            <h3><a href="https://www.dartmouthma.gov/185/Council-on-Aging" target="_blank">Dartmouth COA</a></h3>
                <p>508-999-4717</p>
                <p>2nd Thursday of the Month</p><br>
                <img src="img/dartmouth.svg" alt="DCOA" width="100" height="100">
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                <h3><a href="https://www.mattapoisett.gov/268/Council-on-Aging" target="_blank">Mattapoisett COA</a></h3>
                <p>508-758-4110</p>
                <p>3rd Monday of the Month</p><br>
                <img src="img/mattapoisett.png" alt="MCOA" width="100" height="100">
            </div>
        </div>
    </div>
</div>
</section>
